.agrupamento-botoes button:hover{
    font-size: 1.01em;
    opacity: 0.9;
   /* background-color: rgba(10, 56, 113, 0.9);*/
    transition: 1s;
}

#button-limpar:hover{
    font-size: 0.8em;
    opacity: 0.9;
   /* background-color: rgba(10, 56, 113, 0.9);*/
    transition: 1s;
}